<p class="mt-8 text-center text-sm text-gray-500">
  <%= I18n.t("labels.#{label_translation}") %>
  <%= link_to I18n.t("labels.#{link_label_translation}"), action_path, class: 'font-semibold leading-6 text-sky-600 hover:text-sky-500' %>
</p>