<div class="sm:mx-auto sm:w-full sm:max-w-sm">
  <%= render 'partials/banner' %>
  <h2 class="mt-8 text-center text-2xl font-bold leading-9 tracking-tight text-gray-600">
    <%= header_title %>
  </h2>
</div>