<div class="hidden sm:rounded-md ml-4 sm:flex items-center bg-gray-100 h-2/3">
  <%= inline_svg "icons/loop.svg", class: "h-8 w-8 mx-1" %>
  <input
    type="text"
    class="h-2/3 rounded-xl border-none focus:ring-0 bg-gray-100"
    placeholder=<%= labels_translation('navigation.search') %>
    />
</div>